html,
body {
  background-color: #EBEEF2;
  color: #2C3E50;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

.triangle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 40px 40px 0;
  border-color: transparent indianred transparent transparent;
  text-align: center;
}
.triangle span {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
  width: 40px;
  text-align: center;
  font-size: 12px;
  color: white;
  left: 7px;
  position: relative;
  top: 7px;
}

.rating-star {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 3px;
}

.main-container {
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
}

.btn-more {
  background-color: #409CD1;
  color: white;
}

.box {
  float: left;
  margin: 10px 0;
  float: left;
  background-color: white;
  width: 100%;
}
.box .tour-image {
  position: relative;
  float: left;
}
.box .box-container {
  position: relative;
  padding-bottom: 15px;
  float: left;
  padding-top: 5px;
}

.content {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.btn {
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  color: white !important;
  display: inline-block;
  float: right;
  border: 0;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #3090c7;
  border: 0;
}

.description {
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

.rating {
  color: #989B9E;
  font-size: 12px;
  height: 15px;
  display: block;
  width: 100%;
  float: left;
  overflow: hidden;
  margin-bottom: 15px;
}

#main,
#availabilities,
#confirm {
  float: left;
}

.heart {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.heart:hover {
  transform: scale(1.1);
}

#confirm {
  margin-top: 10px;
  overflow: hidden;
  width: 100%;
  float: right;
}

.detail-label {
  color: #989B9E;
  text-transform: uppercase;
  width: 100px;
  float: left;
  font-size: 10px;
}

.detail-description {
  float: left;
  font-size: 12px;
  width: calc(100% - 110px);
}

.detail-row {
  overflow: auto;
  height: 18px;
  line-height: 18px;
}

.day-availability {
  font-size: 12px;
  overflow: hidden;
  height: 16px;
  float: left;
  width: 100%;
  line-height: 14px;
}
.day-availability:first-of-type {
  margin-top: 7px;
}

.day-availability > div {
  width: 50%;
  float: left;
}

.day-availability .day {
  text-align: left;
}
.day-availability .availability {
  text-align: right;
}

.days,
.from-price {
  width: 50%;
  float: left;
  font-size: 18px;
  font-weight: bold;
}

.offers dt {
  width: 50%;
  font-size: 14px;
}
.offers dd {
  font-size: 18px;
  font-weight: bold;
  width: 50%;
  margin: 0;
}
.offers:nth-of-type(2) {
  padding-top: 8px;
  padding-bottom: 8px;
}
.offers:nth-of-type(2) dt, .offers:nth-of-type(2) dd {
  width: 50%;
  float: left;
  font-weight: bold;
}

.days {
  text-align: left;
}

.from-price {
  text-align: right;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.regular {
  float: right;
}

dl {
  overflow: hidden;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.8em;
}

@media (max-width: 767px) {
  .offers dt, .offers dd {
    width: 50%;
  }
  .offers:nth-of-type(2) {
    display: none;
  }

  dt.regular {
    margin-top: -16px;
  }

  dd.regular {
    margin-top: -21px !important;
  }

  .main-container {
    width: 100%;
  }

  .box {
    height: auto;
  }
  .box .tour-image {
    height: 260px;
    width: 100%;
    background-size: cover;
  }

  #availabilities {
    width: 100%;
  }

  .btn {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .offers dt, .offers dd {
    width: 100%;
  }

  dl {
    border-bottom: 1px solid #818D99;
  }

  .mobile {
    display: none;
  }

  .main-container {
    width: 750px;
  }

  #main {
    width: 65%;
  }

  #availabilities {
    width: 35%;
  }

  .btn {
    width: 100%;
  }

  .box {
    height: 200px;
  }
  .box .tour-image {
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .box .box-container {
    width: 550px;
  }
}

/*# sourceMappingURL=style.css.map */
